.main{
    margin-left: 280px;
    background: #fff
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #54B689;
    color: #fff;
    overflow-y: auto;
}
.profile-image {
    max-width: 160px;
}

.profile-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
.social-icon{
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    color: #54B689;
    text-decoration: none;
    background-color: transparent;
    background-color: #fff;
}
.tech-icon{
    width: 32px;
    height: 32px;
    font-size: 1.875rem;
}
.tech-title{
    font-size: 1rem;
}